<h1>All index Questions</h1>
 
  <h1>Questions:</h1>
  <ul>
    <% @question.each do |question| %>
      <li>
        <%= question.content %>

        
        <br><br>
        <% if question.answers.any? %>
  <b>Answers:</b>
  <ul>
    <% question.answers.each do |answer| %>
      <li><%= answer.content %></li>
    <% end %>
  </ul>
  <div class="answer-form-container" style="display:none;">
    <%= form_for [question, Answer.new] do |f| %>
      <%= f.text_area :content %>
      <%= f.submit "Submit Answer" %>
    <% end %>
  </div>
  <button class="toggle-answer-form-button">Add Answer</button>


  
  </div>

<% end %>
<% end %>



<script>
  document.querySelector('.toggle-answer-form-button').addEventListener('click', function() {
    document.querySelector('.answer-form-container').style.display = 'block';
  });
</script>
