 <div>
 <%= form_with model: [ @company, @company.comments.build ] do |form| %>
 
  <%if user_signed_in?%>
    <%= form.hidden_field :title, value: current_user.email %>
  <%end%> 
<ul> 

<%= form.text_field :rating, required: true,:size => 1, :min => 0, :max => 5, :step => 1 %>
<div class="rateit" data-rateit-backingfld="#item_ratings" data-rateit-resetable="true">
</div>


  <ul> <%= form.label :Comment %></ul> 
   <ul><%= form.text_area :comment %>  <%= form.submit %></ul>
    
<%end%><br>
</div>