 <div>
 <%= form_with model: [ @company, @company.comments.build ] do |form| %>
 
  <%if user_signed_in?%>
    <%= form.hidden_field :title, value: current_user.email %>
<%end%> 
  <%= form.label :Comment %><br>
  <%= form.text_area :comment %>
    <%= form.submit %>
<%end%>
</div>