<div class="d-flex align-items-right justify-content-right" style="height: 50vh">
  <div class="card" style="width: 100rem;" >
    <div class="card border-dark shadow-sm">
     <div class="card-body">
 <%= bootstrap_form_for [ @company, @company.comments.build ] do |form| %>
 
  <%if user_signed_in?%>
    <%= form.hidden_field :title, value: current_user.email %>
  <%end%> 
   
  <%= form.select :rating, [1,2,3,4,5]  %> 
  
   <%= form.text_area :comment %> 
 
    
   <ul>  <%= form.submit %></ul>
  
<%end%> 
</div>

 






 