<h1>New Job Posting</h1>
<div class="mb-3">
<div class="card " style="width: 18rem; ">
 <div class="card-body">
<%= bootstrap_form_with(model: @job, url: company_jobs_path, local: true) do |form| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   
     <%= form.text_field :job_title %>
  </div>

 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', company_jobs_path %>
</div>
</div>