<%# <%= form_with(model: [@question, @answer], local: true) do |form| %> 

<h2>Add a new answer:</h2>

<%byebug%>
 <%= bootstrap_form_for [ @question, @question.answers.build ] do |form|%>
 <%# <%= bootstrap_form_with model: @answer, url: company_job_question_answers_path(@question) do |f| %> 
 <%= f.hidden_field :question_id, value: @question.id %>
   <%byebug%>

  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>


<h2>Add a new answer:</h2>

 
<%= bootstrap_form_for([question, @answers] , company_job_question_answers_path(@question),method::post) do |f| %>

    <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
 <% end %>












   <% if question.answers.any? %>
                <b>Answers:</b>
                <ul>
                  <% question.answers.each do |answer| %>
                    <li><%= answer.content %></li>
                  <% end %>
        <%else%>          
                </ul>
                <div class="answer-form-container" style="display:none;">
                  <%= form_for [@question, Answer.new] do |f| %>
                    <%= f.text_area :content %>
                    <%= f.submit "Submit Answer" %>
                  <% end %>
                </div>
                <button class="toggle-answer-form-button">Add Answer</button>


  <%=render "answers/answer"%>
  </div>

<% end %>