
<%= form_with model: @company do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @company.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %><br>
    <% @company.errors.full_messages_for(:address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  

  <div>
  <%= form.label :No_of_employees %><br>
  <%= form.text_area :no_of_employees %><br>
  <% @company.errors.full_messages_for(:no_of_employees).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>
  <div>
    <%= form.submit %>
  </div>
<% end %>