<h2>Companies</h2>

<%if user_signed_in? %>
  <%=link_to 'Sign_out', destroy_user_session_path %>

  <ul>
  <hr/>
  <% @companies.each do |company| %>
    <li>
      <%= link_to company.name, company %>
            <%= link_to company.address, company %>

    </li>
   

  <%end%>



<%else%>

  <%=link_to 'Sign_in' , new_user_session_path %>

  <%=link_to 'Sign_up', new_user_registration_path %>
<%end%>
<h2>
  

<%=link_to 'Create New Company', new_company_path %>







