<div class="center">
    <div class="">
        <div class="col-md-4 col-md-offset-6">
<h1>company</h1>
<div>
<%= form_with model: @company do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @company.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %><br>
    <% @company.errors.full_messages_for(:address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <%= form.label :No_of_employees %><br>
  <%= form.text_field :no_of_employee %>
  <% @company.errors.full_messages_for(:no_of_employees).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

  <div>
  <%= form.label :image %><br>
      <%= form.file_field :image, class: "col-auto", required: true %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
          </div>
       </div>
</div>


