      <div class="container align=center"  >
      <div class="row ">
          <div class="col-6 col-lg-6 background">
            <p class="p-style">
            
            <div class="card" style="width: 28rem;">
    

             <ul><%=image_tag(@company.image, style: 'width:200px')%> </ul></p>
       

       <h5 class="card-title">
       <ul><%= @company.name %> </ul></h5>
     <b class="card-text"><ul><%= @company.address %></ul> </b>


<%# Exeption%>

<%begin%>
 <ul> <%new=Comment.all.where(company_id:@company.id)%>
<%all_ratings=new.pluck(:rating)%>
 

<%star_to_display=all_ratings.compact.sum/all_ratings.size%>
<%star_to_display.times do%>
    <span>&#11088;</span> 
<%end%>


</ul>
<%rescue%>


<%end%>
      
        <%if current_user.role == "admin"%>
        <ul><%= link_to "Update", edit_company_path(@company) %> </ul>
        <ul> <%= link_to "Destroy", company_path(@company), data: {
                         turbo_method: :delete,
                         turbo_confirm: "Are you sure?"
                       } %> </ul>
      
               <%end%></p>
          </div>



        </div>

            <div class="card" style='height:0%; width:50%;'>
                      <p class="p-style">
                     <ul> <h5>Comments</h5></ul>

                      <%= render 'comments/form' %>
             </div>
        </div>
     </div>              
 <% if @company.comments.count > 2%>
                  <%= render @company.comments.last(3) %>
               <%end%>

<div id="div1">
<p style="color:blue;" onclick="showFunction('div2','div1')">show all comment</p></div>
<div id="div2" style="display:none">

<p><%= render @company.comments.all %></p>

<p style="color:red;" onclick="showFunction('div1','div2')">show less</p></div>
 
 



 <script>
function showFunction(diva, divb) {
    var x = document.getElementById(diva);
    var y = document.getElementById(divb);
          x.style.display = 'block';
          y.style.display = 'none';
}
</script>




 
