 
            <%if current_user.role == "admin"%>
            <%=link_to 'Create New Company', new_company_path %>
             <%end%>   
       <hr/>

      
   <div class="container">
      <div class="row">
          <div class="col-6 col-lg-6 background">
            <p class="p-style">
            
  
     <%=image_tag(@company.image, style: 'width:500px')%> 
       

        <ul><%= @company.name %> </ul>
     <ul><%= @company.address %></ul> 
      
        <%if current_user.role == "admin"%>
         
      

        <ul><%= link_to "Update", edit_company_path(@company) %> </ul>
        <ul> <%= link_to "Destroy", company_path(@company), data: {
                         turbo_method: :delete,
                         turbo_confirm: "Are you sure?"
                       } %> </ul>
      
               <%end%></p>
    </div>
    <div class="col-6 col-lg-6 background2">
      <p class="p-style">
      <h5>Comments</h5>

      <%= render 'comments/form' %>

   <%# Comment load more %>

   <script type="text/javascript">
   function showDiv(toggle){
   document.getElementById(toggle).style.display = 'block';
   }
   </script>

   <% if @company.comments.count > 4%>
         <%= render @company.comments.last(3) %>
   <%end%>
       <%# Comments %>
         <button onclick="myFunction()">see all comments</button>
         

         <script>
         function myFunction() {
           var x = document.getElementById("myDIV");
           if (x.style.display === "none") {
             x.style.display = "block";
           } else {
             x.style.display = "none";
           }
         }
         </script>
         <div id="myDIV">
         <%= render @company.comments.all %>
         </div></p>
    </div>
  </div>
</div>
