 <hr/>
<%if current_user.role == "admin"%>

 <%=link_to 'Create New Company', new_company_path %><br>

<%end%>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <%=image_tag(@company.image, style: 'width:50%')%><br>
           <%= @company.name %>
          <%= @company.address %>  

           <%if current_user.role == "admin"%>
    <hr/>
 

  <%= link_to "Update", edit_company_path(@company) %> <br>
  <%= link_to "Destroy", company_path(@company), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> 
 
          <%end%>
          
    </div>
    <div class="col">
            <h5>Comments</h5>

             <%= render 'comments/form' %>


          <%# Comment load more %>

          <script type="text/javascript">
          function showDiv(toggle){
          document.getElementById(toggle).style.display = 'block';
          }
          </script>

          <% if @company.comments.count > 4%>
                <%= render @company.comments.last(3) %>
          <%end%>
              <%# Comments %>
                <button onclick="myFunction()">see all comments</button>
                

                <script>
                function myFunction() {
                  var x = document.getElementById("myDIV");
                  if (x.style.display === "none") {
                    x.style.display = "block";
                  } else {
                    x.style.display = "none";
                  }
                }
                </script>
                <div id="myDIV">
                <%= render @company.comments.all %>
                </div>
                
    </div>
  </div>
</div>




