<h1><%= @company.name %></h1>
<p><%= @company.address %></p>
<ul>
 <%if current_user.role == "admin"%>
 
  <li><%= link_to "Update", edit_company_path(@company) %></li>
  <li><%= link_to "Destroy", company_path(@company), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
<%end%>
<h3>Comments</h3>
  <%= render @company.comments %>

  <%= render 'comments/form' %>